body{
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(183, 183, 240);

}
.main-content{
    flex-grow:1;
}
footer{
  color: 888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 70px;
    margin-bottom:16px ;
}

header a{
    font-size:20 ;
    color:black;;
    margin-right:16px;
    text-decoration: none;
}
.portrait{
    width:250px;
}

input{
    border:1px solid #cccccc;
    margin-top: 10px;
    padding:8px;
    border-radius: 5px;
    width:400px;
    /* border: none; */
    outline-style:none ;
}
input:focus::placeholder{
    color:transparent;
}
input::placeholder{
    color:#aaa;
    transition: color 0.3s ease;
}
button{
    width:90px;
    cursor:pointer;
    border:1px solid #888888;
    text-decoration-color: #333333;
    background:#ecf0f0;
    color:black;
    padding:8px;
    border-radius: 5px;
    transition: 20ms;

}

button:hover{
    background: rgb(27, 181, 215);
    box-shadow: 4px 4px 4px black;
    color: black;
}

.my{
    font-size: large;
}
.my:hover{

    text-shadow: 1px 1px 1px rgb(129, 139, 224);
}

.email{
    font-size:16px;
}